name: Changelog CI

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Run Changelog CI
      uses: saadmk11/changelog-ci@v1.1.2
      with:
        changelog_filename: CHANGELOG.md
        config_file: .github/changelog-ci-config.yaml
        output_file_name: 'changelog-ci-output.md'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
